body {
    text-align: center;
    font-family: "Titillium Web", sans-serif;
    background-color: rgb(243, 228, 147);
}

h1,
h2 {
    color: rgb(121, 192, 197);
    font-size: 3rem;
}

.section {
    padding: 10px;
    background: #40c172;
    border-radius: 6px;
    margin: auto;
    margin-bottom: 15px;
}

.image_class {
    height: auto;
    width: auto;
    border-radius: 10px;
}

.fact_class {
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    background: #F8F8F8;
}

.fact_container {
    width: auto;
    text-align: center;
}

.index_container {
    display: flex;
    flex-wrap: wrap;
}

.pet_container {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.pet_container img {
    width: 100%;
    height: auto;
    margin: 5px;
    border-radius: 5px;
}

.form-style {
    width: 450px;
    padding: 30px;
    margin: 40px auto;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.form-style h2 {
    background: #2A88AD;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font-family: "Titillium Web", sans-serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
}

.form-style .inner-wrap {
    padding: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
}

.form-style .section {
    font-family: "Titillium Web", sans-serif;
    color: #2A88AD;
    margin-bottom: 5px;
}

.form-style .section span {
    background: #2A88AD;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}

.form-style input[type="button"],
.form-style input[type="submit"] {
    background: #2A88AD;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font-family: "Titillium Web", sans-serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
}

.form-style input[type="button"]:hover,
.form-style input[type="submit"]:hover {
    background: #2A6881;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}