<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<body>
    <h1>PetFax</h1>
    <div class="index_container">
        <p class="section">Welcome to Petfax! We are a no-kill shelter dedicated to finding our pets loving homes and
            educating the public with fun facts.</p>
        {% for pet in pets %}
        <div class="pet_container">
            <h2>{{ pet.pet_name }}</h2>
            <img src="{{ pet.pet_photo }}" alt="Photo of {{pet.pet_name}}" />
            <p><a href="{{loop.index0}}">Learn more facts ></a></p>
        </div>
        {% endfor %}
    </div>
    <p>We would love to learn more fun facts!!! <a href="/facts/new">Submit some more here </a></p>
</body>