<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<body>
    <h1>Submit Fax</h1>
    <div class="form-style">
        <h2>If you have some fun animal facts you'd like to share, please submit them! We may use it in the future.</h2>
        <form>
            <div class="section">Name</div>
            <div class="inner-wrap">
                <input type="text" id="name" name="name" />
            </div>

            <div class="section">Fact</div>
            <div class="inner-wrap">
                <textarea name="fact" id="fact" cols="30" rows="3"></textarea>
            </div>
            <div class="button-section">
                <input type="submit" name="Sign Up" />
            </div>
        </form>
    </div>
    <p><a href="/pets">
            < Go back</a>
    </p>
</body>